@mixin for-phone-only {
	@media (max-width: 599px) {
		@content
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content
	}
}

.bottom-panel {
	 position: absolute;
	 width: 100%;
	 bottom: 0;
	 height: 50px;
	 background-color: transparent;
	 .bottom-panel__content {
		 height: 50px;
		 background-color: grey;
		 position: absolute;
		 width: 100%;
		 bottom: 0;
	 }
}