@mixin for-phone-only {
	@media (max-width: 599px) {
		@content
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content
	}
}

.top-photo-row {
	grid-area: tpr;
	background-color: orange;
	width: 100%;
	display: grid;
	align-content: center;
	@include for-phone-only {
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
	}
	@include for-tablet-portrait-up {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@include for-tablet-landscape-up {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	@include for-desktop-up {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	@include for-big-desktop-up {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
.top-photo-row__img-container {
	display:flex;
	justify-content:center;
	align-items:center;
}
.top-photo-row__img-container__image {
	width: 120px;
}