@mixin for-phone-only {
	@media (max-width: 599px) {
		@content
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content
	}
}

.top-photo-row {
	grid-area: tpr;
	//width: 100%;
	display: grid;
	align-content: center;
	padding: 10px;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
	@include for-phone-only {
		grid-template-columns: auto auto auto auto;
		grid-gap: 10px;
		grid-template-rows: 80px;
	}
	@include for-tablet-portrait-up {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 100px;
	}
	@include for-tablet-landscape-up {
		grid-template-columns: auto auto auto auto auto;
		grid-template-rows: 90px;
	}
	@include for-desktop-up {
		grid-template-columns: auto auto auto auto auto auto auto;
		grid-template-rows: 100px;
	}
	@include for-big-desktop-up {
		grid-template-columns: auto auto auto auto auto auto auto auto;
		grid-template-rows: 150px;
	}
}
.top-photo-row__img-container__image {
	max-width: 98%;
	max-height: 91%;
	display: block;
	margin: auto;
	padding: 2.5%;
	@include for-phone-only {

	}
	@include for-tablet-portrait-up {

	}
	@include for-tablet-landscape-up {

	}
	@include for-desktop-up {

	}
	@include for-big-desktop-up {
		
	}
}

.top-photo-row__img-container {
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
}