@mixin for-phone-only {
	@media (max-width: 599px) {
		@content
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content
	}
}

.photo-gallery {
	grid-area: pgy;
	display: grid;
	grid-template-columns: 400px;
	grid-template-rows: 250px 100px;
	grid-row-gap: 20px;
	align-content: start;
	justify-content: center;
	@include for-tablet-portrait-up {
		grid-template-columns: 500px;
		grid-template-rows: 300px 50px;
	}
	@include for-tablet-landscape-up {
		grid-template-columns: 500px;
		grid-template-rows: 380px 50px;
	}
	@include for-desktop-up {
		grid-template-columns: 700px;
		grid-template-rows: 250px 50px;
	}
	@include for-big-desktop-up {
		grid-template-columns: 1000px;
		grid-template-rows: 500px 100px;
	}
}

.photo-gallery__big-img {
	max-width: 98%;
	max-height: 91%;
	display: block;
	margin: auto;
	padding: 2.5%;
	@include for-tablet-portrait-up {
		
	}
	@include for-tablet-landscape-up {
		padding: 3%;
	}
	@include for-desktop-up {
		padding: 1.5%;
	}
	@include for-big-desktop-up {
		padding: 2%;
	}
}

.photo-gallery__controls {
	display: grid;
	@include for-tablet-landscape-up {
		grid-template-rows: 30px;
	}
	@include for-desktop-up {
		grid-template-rows: 50px;
	}
	grid-template-columns: repeat(10, 1fr);
	align-content: start;
	justify-content: start;
	text-align: center;
}

.photo-gallery__controls__photo {
	width: 100%;
}

.photo-gallery__controls__prev {
	border: 2px solid black;
	cursor: pointer;
	border-radius: 50px;
	margin: auto;
	width: 30px;
	line-height: 30px;
	@include for-desktop-up {
		line-height: 50px;
		width: 50px;
	}
	@include for-big-desktop-up {
		line-height: 80px;
		width: 80px;
	}
	background-color: yellow;
	:hover {
		background-color: blue;
	}
}

.photo-gallery__controls__next {
	border: 2px solid black;
	cursor: pointer;
	border-radius: 50px;
	margin: auto;
	width: 30px;
	line-height: 30px;
	@include for-desktop-up {
		line-height: 50px;
		width: 50px;
	}
	@include for-big-desktop-up {
		line-height: 80px;
		width: 80px;
	}
	background-color: yellow;
	:hover {
		background-color: blue;
	}
}

.big-img__container {
	margin-bottom: 25px;
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
}