@mixin for-phone-only {
	@media (max-width: 599px) {
		@content
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content
	}
}

.photo-gallery {
	grid-area: pgy;
	background-color: dodgerblue;
	display: grid;
	grid-template-columns: 400px;
	grid-template-rows: 320px 100px;
	align-content: start;
	justify-content: center;
	@include for-desktop-up {
		grid-template-columns: 700px;
		grid-template-rows: 550px 200px;
	}
	@include for-big-desktop-up {
		grid-template-columns: 700px;
		grid-template-rows: 550px 200px;
	}
}

.photo-gallery__big-img {
	width: 100%;
}

.photo-gallery__controls {
	display: grid;
	@include for-tablet-landscape-up {
		grid-template-rows: 30px;
	}
	@include for-desktop-up {
		grid-template-rows: 50px;
	}
	grid-template-columns: repeat(10, 1fr);
	align-content: start;
	justify-content: start;
	text-align: center;
}

.photo-gallery__controls__photo {
	width: 100%;
}

.photo-gallery__controls__prev {
	border: 2px solid black;
	cursor: pointer;
	border-radius: 50px;
	line-height: 30px;
	@include for-desktop-up {
		line-height: 50px;
	}
	background-color: yellow;
	:hover {
		background-color: blue;
	}
}

.photo-gallery__controls__next {
	border: 2px solid black;
	cursor: pointer;
	border-radius: 50px;
	line-height: 30px;
	@include for-desktop-up {
		line-height: 50px;
	}
	background-color: yellow;
	:hover {
		background-color: blue;
	}
}