@mixin for-phone-only {
	@media (max-width: 599px) {
		@content
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content
	}
}

.settings-block__trigger {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  position: absolute;
  background-color: black;
  color: wheat;
  top: 10px;
  right: 10px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 200;
}
.settings-block__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
	z-index: 100;
	background-position: center;
  background-size: cover;
}

.App {
	background-color: dodgerblue;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
	//grid-template-rows: 10% 10% 65% 15%;
	//grid-template-areas: 'tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr'
	//										 'lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr'
	//										 'pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy'
	//										 'bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu'; 
	@include for-phone-only {
		grid-template-rows: 100px 100px 320px 100px 100px;
		grid-template-areas: 'tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr'
												 'lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr'
												 'pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy'
												 'bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu'
												 'bpr bpr bpr bpr bpr bpr bpr bpr bpr bpr bpr bpr';
	}
	@include for-tablet-portrait-up {
		grid-template-rows: 110px 100px 370px 110px 110px;
		grid-template-areas: 'tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr'
												 'lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr'
												 'pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy'
												 'bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu'
												 'bpr bpr bpr bpr bpr bpr bpr bpr bpr bpr bpr bpr';
	}
	@include for-tablet-landscape-up {
		grid-template-rows: 110px 100px 450px 110px;
		grid-template-areas: 'tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr'
												 'lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr'
												 'pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy'
												 'bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu';
	}
	@include for-desktop-up {
		grid-template-rows: 120px 80px 330px 80px;
		grid-template-areas: 'tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr'
												 'lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr'
												 'pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy'
												 'bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu';
	}
	@include for-big-desktop-up {
		grid-template-rows: 165px 115px 640px 160px;
		grid-template-areas: 'tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr tpr'
												 'lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr lsr'
												 'pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy pgy'
												 'bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu bmu';
	}
}

.settings-container {
	display: block;
	width: 100%;
	height: 100vh;
	background-color: rgba(255,255,255, 0.9);
	padding-top: 200px;
}
.settings__content {
	display: block;
	width: 50%;
	height: 585px;
	padding: 20px;
	margin: auto;
	border-radius: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.settings-block_inner {
	width: 50px;
	height: 50px;
	top: 0px;
	left: 0px;
	position: absolute;
	cursor: pointer;
	img {
		width: 100%;
		height: auto;
	}
}

.settings-block_inner1 {
	top: 275px;
	left: 32%;
}

.settings-block_inner2 {
	top: 275px;
	left: 37%;
}

.settings-block_inner3 {
	top: 275px;
	left: 42%;
}

.settings-block_inner4 {
	top: 275px;
	left: 47%;
}

.settings-block_inner5 {
	top: 275px;
	left: 52%;
}

.settings-block_inner6 {
	top: 350px;
	left: 32%;
}

.settings-block_inner7 {
	top: 350px;
	left: 37%;
}

.settings-block_inner8 {
	top: 350px;
	left: 42%;
}

.settings-block_inner9 {
	top: 350px;
	left: 47%;
}

.settings-block_inner10 {
	top: 350px;
	left: 52%;
}

.preview-area{
	display: block;
	position: absolute;
	bottom: 50px;
	left: 300px;
	width: 500px;
	height: 200px;
	border: 20px solid #6EDFA6;
	padding: 20px;
	border-radius: 20px;
	background-color: white;
}
.textSize-view {
	background-color: white;
	h3 {
		background-color: white;
	}
	div {
		background-color: white;
		padding-left: 7%;
	}
	i {
		cursor: pointer;
	}
	.textSize-view--block {
		float: left;
		width: 25%;
	}
}

.big-edu {
	height: 25%;
	width: 25%;
	position: absolute;
	bottom: 345px;
	right: 0px;
}

#notification-bone {
	position: absolute;
  left: 50px;
  bottom: 200px;
  width: 200px;
  height: 50px;
}